<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>testApp</title>
</table>
</head>
<body>
	<p th:text = "*{testtext}"></p>
	<table class = "table" border="1">
		<thead>
			<tr>
				<th>社員ID</th>
				<th>氏名</th>
				<th>年齢</th>
				<th>所属</th>
			</tr>
		</thead>
		<tbody>		
			<tr th:each="userlist:${userlist}">
				<td th:text = "${userlist.SyainEntityClass.syainId}"></td>
				<td th:text = "${userlist.SyainEntityClass.name}"></td>
				<td th:text = "${userlist.SyainEntityClass.age}"></td>
				<td th:text = "${userlist.syozokuName}"></td>
			</tr>	
		</tbody>
	</table>			
</body>
</html>